.reset,
div.reset,
span.reset,
table.reset,
a.reset,
a:visited.reset,
a:link.reset,
a:hover.reset,
td.reset,
tr.reset {
  background: none;
  border: none;
  bottom: auto;
  box-shadow: none;
  color: black;
  cursor: auto;
  display: inline;
  float: none;
  font-family : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  padding: 0;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  vertical-align: baseline;
  white-space: normal;
  width: auto;
  z-index: 99999999;
}


#fuzzy-search-omnibar ol, #fuzzy-search-omnibar ul {
  list-style: none;
  display: block;
}

#fuzzy-search-omnibar {
  display: block;
  position: fixed;
  width: 80%;
  min-width: 400px;
  top: 70px;
  left: 50%;
  margin: 0 0 0 -40%;
  font-family: sans-serif;

  background: #F1F1F1;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border: 1px solid #aaa;
  /* One less than hint markers and the help dialog. */
  z-index: 99999996;
}

#fuzzy-search-omnibar input {
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 34px;
  margin-bottom: 0;
  padding: 4px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  box-shadow: #444 0px 0px 1px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#fuzzy-search-omnibar .omnibarSearchArea {
  display: block;
  padding: 10px;
  background-color: #F1F1F1;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #C6C9CE;
}

#fuzzy-search-omnibar ul {
  background-color: white;
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding: 10px 0;
  padding-top: 0;
}

#fuzzy-search-omnibar li {
  border-bottom: 1px solid #ddd;
  line-height: 1.1em;
  padding: 7px 10px;
  font-size: 16px;
  color: black;
  position: relative;
}

#fuzzy-search-omnibar li:last-of-type {
  border-bottom: none;
}

#fuzzy-search-omnibar li .omnibarTopHalf, #fuzzy-search-omnibar li .omnibarBottomHalf {
  display: block;
  overflow: hidden;
}

#fuzzy-search-omnibar li .omnibarBottomHalf {
  font-size: 15px;
  margin-top: 3px;
  padding: 2px 0;
}

#fuzzy-search-omnibar li .omnibarSource {
  color: #777;
  margin-right: 4px;
}
#fuzzy-search-omnibar li .omnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: white;
  color: black;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#fuzzy-search-omnibar li .omnibarUrl {
  white-space: nowrap;
  color: #224684;
}

#fuzzy-search-omnibar li .omnibarMatch {
  font-weight: bold;
  color: black;
}

#fuzzy-search-omnibar li em, #fuzzy-search-omnibar li .omnibarTitle {
  color: black;
  margin-left: 4px;
  font-weight: normal;
}
#fuzzy-search-omnibar li em { font-style: italic; }
#fuzzy-search-omnibar li em .omnibarMatch, #fuzzy-search-omnibar li .omnibarTitle .omnibarMatch {
  color: #333;
  text-decoration: underline;
}

#fuzzy-search-omnibar li.omnibarSelected {
  background-color: #BBCEE9;
  font-weight: normal;
}
